ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
ul li {
  float: left;
}

ul li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

img {
  width: 50px;
  height: 50px;
  float: left;
}

.banner {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  animation: slide 12s infinite;
}

@keyframes slide {
  0%   { background-image: url("https://img.freepik.com/premium-photo/professional-sport-brazil-volleyball-various-sports-balls-volleyballs_669646-15324.jpg"); }
  33%  { background-image: url("https://tse1.mm.bing.net/th/id/OIP.e9Ekn8xyI2i9XgfTQoK8fQHaEs?rs=1&pid=ImgDetMain&o=7&rm=3"); }
  66%  { background-image: url("https://editorial01.shutterstock.com/preview-440/13332147i/0c397068/Shutterstock_13332147i.jpg"); }
  100% { background-image: url("https://tse2.mm.bing.net/th/id/OIP.Y1I7BvR95cTUwy-HGRTHfQAAAA?rs=1&pid=ImgDetMain&o=7&rm=3"); }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}